<p>form works!</p>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Form</h5>
  </div>
  <div class="card-body">
    <form (ngSubmit)="process()" #form_user_data="ngForm">
      <div class="">
        <label for="firstname" class="form-label">Name</label>
        <input
          name="firstname"
          type="text"
          class="form-control"
          [(ngModel)]="users[0].firstname"
          required
          #firstname="ngModel"
        />
        <span
          class="text-danger"
          [hidden]="firstname.valid || firstname.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="">
        <label for="lastname" class="form-label">Last name</label>
        <input
          name="lastname"
          type="text"
          class="form-control"
          [(ngModel)]="users[0].lastname"
          required
          #lastname="ngModel"
        />
        <span
          class="text-danger"
          [hidden]="lastname.valid || lastname.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          type="text"
          class="form-control"
          [(ngModel)]="users[0].username"
          required
          #username="ngModel"
        />
        <span
          class="text-danger"
          [hidden]="username.valid || username.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          type="text"
          class="form-control"
          [(ngModel)]="users[0].email"
          required
          #email="ngModel"
        />
        <span class="text-danger" [hidden]="email.valid || email.pristine">
          * Field required
        </span>
      </div>
      <div class="">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          required
          [(ngModel)]="users[0].password"
          #password="ngModel"
        />
        <span
          class="text-danger"
          [hidden]="password.valid || password.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="form-check form-switch">
        <label for="active" class="form-check-label">Active</label>
        <input
          name="active"
          type="checkbox"
          class="form-check-input"
          role="switch"
          [(ngModel)]="users[0].active"
        />
      </div>
      <button
        type="submit"
        class="btn btn-dark"
        [disabled]="form_user_data.invalid"
      >
        Save
      </button>
    </form>
  </div>
  <div class="card-footer"></div>
</div>
{{ form_user_data.valid }}<br />
{{ firstname.errors | json }}<br />
{{ firstname.valid }}<br />
{{ users[0] | json }}
<hr />
<p>*ngSwitch</p>
<div [ngSwitch]="day">
  day of week ({{ day }}):
  <span *ngSwitchCase="1">Monday</span>
  <span *ngSwitchCase="2">Tuesday</span>
  <span *ngSwitchCase="3">Wednesday</span>
  <span *ngSwitchCase="4">Thursday</span>
  <span *ngSwitchCase="5">Friday</span>
  <span *ngSwitchCase="6">Saturday</span>
  <span *ngSwitchCase="7">Sunday</span>
  <span *ngSwitchDefault>Not exists</span>
</div>
<hr />
<p>*ngFor</p>
<ul>
  <li *ngFor="let user of users; let i = index">
    {{ i + 1 + " " + user.username }}
  </li>
</ul>
<hr />
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Template variables and *ngIf/else</h5>
  </div>
  <div class="card-body">
    <label for="" class="form-label">Username</label>
    <input type="text" class="form-control" #username />
  </div>
  <div class="card-footer">
    <button class="btn btn-dark" (click)="showInConsole(username.value)">
      Show in console
    </button>
  </div>
</div>

<div class="alert alert-success mt-4" *ngIf="show_alert; else message">
  Se ha enviado el mensaje
  <span (click)="show_alert = false" class="span-close">X</span>
</div>

<ng-template #message>
  <div class="alert alert-danger mt-4">test message</div>
</ng-template>
