<p>reactive-form works!</p>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Reactive froms</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form_user" (ngSubmit)="process()">
      <div class="">
        <label for="firstname" class="form-label">Name</label>
        <input name="firstname" formControlName="firstname" type="text" class="form-control" />
        <span
          class="text-danger"
          [hidden]="form_user.get('firstname')?.valid || form_user.get('firstname')?.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="">
        <label for="lastname" class="form-label">Last name</label>
          <input name="lastname" formControlName="lastname" type="text" class="form-control"/>
          <span
            class="text-danger"
            [hidden]="form_user.get('lastname')?.valid || form_user.get('lastname')?.pristine"
          >
            * Field required
          </span>
      </div>
      <div class="">
        <label for="username" class="form-label">Username</label>
        <input name="username" formControlName="username" type="text" class="form-control" />
        <span
          class="text-danger"
          [hidden]="form_user.get('username')?.valid || form_user.get('username')?.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="">
        <label for="email" class="form-label">Email</label>
        <input name="email" formControlName="email" type="text" class="form-control" />
        <span
          *ngIf="email?.errors?.['required']"
          class="text-danger"
          [hidden]="email?.valid || email?.pristine"
        >
          * Field required
        </span>
        <span
          *ngIf="email?.errors?.['email']"
          class="text-danger"
          [hidden]="email?.valid || email?.pristine"
        >
          * Invalid email
        </span>
      </div>
      <div class="">
        <label for="password" class="form-label">Password</label>
        <input name="password" formControlName="password" type="password" class="form-control"/>
       <span
          class="text-danger"
          [hidden]="password.valid || password.pristine"
        >
          * Field required
        </span>
      </div>
      <div class="form-check form-switch">
        <label for="active" class="form-check-label">Active</label>
        <input name="active" formControlName="active" type="checkbox" class="form-check-input" role="switch"/>
      </div>
      <button type="submit" class="btn btn-dark" [disabled]="form_user.invalid">
        Save
      </button>
    </form>
  </div>
  <div class="card-footer"></div>
</div>
{{form_user.value | json}}
<br>
{{form_user.get('active')?.value}}
