<!-- <div class="container">
  <div class="card">
    <div class="card-header">
      <div class="h5 card-title">Services</div>
    </div>
    <div class="card-body">
      <app-add-messages></app-add-messages>
      <app-list-messages></app-list-messages>
    </div>
    <div class="card-footer"></div>
  </div>
  <hr/>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Communication between components</h5>
    </div>
    <div class="card-body">
      <label for="" class="form-label">Parent</label>
      <input type="text" class="form-control" [(ngModel)]="title">
    </div>
  </div>
  <!-- <app-children [title]="title" (titleChange)="title = $event"></app-children> -->
  <!-- <app-children [(title)]="title"></app-children>
  <app-reactive-form></app-reactive-form>
  <hr />
  <app-form></app-form>
  <hr />
  <app-button></app-button>
  <hr />
  <app-count></app-count>
</div> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" [routerLinkActive]="'active'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
